<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Receipes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <div class="container mt-5">
      <form class="col-6 mx-auto card p-3 shadow-lg " method="POST" enctype="multipart/form-data">
      {%csrf_token%}
      
        <h2>Login</h2>
        <hr>
        {% if messages %}

        {{ message.tags }}

        <div class="alert alert-primary" role="alert">

            <!-- displaying the messages in the frontend from backend using this syntax from django -->
            {% for message in messages %}

            {{ message }}

            {% endfor %}

          </div>
{% endif %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input type="email" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="exampleInputPassword1">
            </div>
            <p> Don't have an account? <a href="/register/">Register</a></p>
            <button type="submit" class="btn btn-primary">Submit</button>

   </div> 
    
  </body>
</html>